@import "./scss/reset.scss";
@import "./scss/mixin.scss";
@import "./scss/scroll.scss";

#accessibility a{overflow:hidden;display:block;position:absolute;top:0;left:0;z-index:100;width:1px;height:1px;background:#000;color:#fff;text-align:center}
#accessibility a:focus,.skip a:active{position:relative;width:100%;height:auto;padding:10px}


// 공통 css
body{
  &.is-active {
    // &::after {
    //   content: '';
    //   display: block;
    //   width:100%;
    //   height:100%;
    //   position: fixed;
    //   left:0;
    //   top:0;
    //   background-color: rgba(5,20,31,0.8);
    //   z-index: 10;
    //   @media #{$tablet}{
    //     display: none;
    //   }
    // }
    @media #{$tablet}{
      overflow: auto;
      height:100%;
      overflow: hidden;
    }
  }
}

body{
  &.no-visual{
    h1 {
      color:$midnight-black-70;
    }
    .gnb__list {
      li {
        a {
          color:$midnight-black-70;
        }
      }
    }
    .mobile-menu {
      .bar {
        background:$midnight-black-70;
      }
    }
    &.is-active {
      .header {
        &.is-active {
          a {
            color:$polar-white;
          }
        }
      }
    }
  }
}
//////////BUTOTN////////////////
.btn-primary {
  position: relative;
  // min-width: 126px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 16px 24px;
  color: $polar-white;
  background-color: $midnight-black-100;
  transition: all 0.4s;
  z-index: 1;
  border: 1px solid $midnight-black-100;
  &:after {
      content: '';
      width: 0%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      transition: all 0.4s;
      background-color: $midnight-black-70;
      z-index: -1;
  }
  &:hover {
      border-color: $midnight-black-70;
  }
  &:hover:after {
      width: 100%;
      z-index: -1;
  }

  &.type-dark {
      background-color: $polar-white;
      border: 1px solid $polar-white;
      color: $midnight-black-100;
      &:after {
          background-color: $city-grey-20;
      }
      &:hover {
          border-color: $city-grey-20;
      }
  }
  @media #{$tablet} {
      padding: 13px 16px;
  }
}
a.btn-primary {
  display: inline-block;
}
.btn-secondary {
  position: relative;
  // min-width: 126px;
  font-family: Kia Signature Regular;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 16px 24px;
  background-color: $polar-white;
  color: $midnight-black-100;
  border: 1px solid $city-grey-20;
  transition: all 0.4s;
  z-index: 1;
  &:after {
      content: '';
      width: 0%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      transition: all 0.4s;
      background-color: $midnight-black-3;
      z-index: -1;
  }
  &:hover:after {
      width: 100%;
      z-index: -1;
  }
  &.disabled,
  &:disabled {
      color: $city-grey-20;
      background-color: $polar-white;
      border: 1px solid $city-grey-20;
      &:hover:after {
          display: none;
      }
  }
  &.type-dark {
      color: $polar-white;
      background-color: $midnight-black-100;
      border: 1px solid $polar-white;
      &:after {
          background-color: rgba(255, 255, 255, 0.1);
      }
      &:disabled {
          background-color: inherit;
          color: $midnight-black-60;
          border: 1px solid $city-grey-20;
      }
  }
  @media #{$tablet} {
      padding: 13px 16px;
  }
}
a.btn-secondary {
  display: inline-block;
}
.btn-secondary.no-border {
  border: none;
}
.btn-small {
  position: relative;
  // min-width: 92px;
  background-color: $midnight-black-100;
  font-family: Kia Signature Regular;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: $polar-white;
  text-align: center;
  padding: 13px 16px;
  transition: all 0.4s;
  z-index: 1;
  border: 1px solid $midnight-black-100;
  &:after {
      content: '';
      width: 0%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      transition: all 0.4s;
      background-color: $midnight-black-70;
      z-index: -1;
  }
  &:hover {
      border-color: $midnight-black-70;
  }
  &:hover:after {
      width: 100%;
      z-index: -1;
  }
  &:disabled {
      background-color: $city-grey-20;
      color: $city-grey-20;
      border: 1px solid $city-grey-20;
      &:hover:after {
          display: none;
      }
  }
  &.type-secon {
      color: $midnight-black-100;
      background-color: $polar-white;
      border: 1px solid $city-grey-20;
      &:after {
          background-color: $midnight-black-3;
      }
      &:disabled {
          color: $city-grey-20;
          background-color: $polar-white;
          border: 1px solid $city-grey-20;
      }
  }
}
a.btn-small {
  display: inline-block;
}
.btn-filters {
  // min-width: 86px;
  background-color: $polar-white;
  font-family: Kia Signature Regular;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: $midnight-black-100;
  text-align: center;
  padding: 12px 24px;
  border: 1px solid $city-grey-20;
  border-radius: 30px;
  &:hover {
      border-color: $midnight-black-100;
      background-color: $midnight-black-3;
      transition: all 0.4s;
  }
  &.selected {
      color: $polar-white;
      background-color: $midnight-black-100;
      border: 1px solid $midnight-black-100;
  }
  &:disabled {
      color: $city-grey-20;
      background-color: inherit;
      border: 1px solid $city-grey-20;
  }
}

.btn-time {
  // min-width: 86px;
  background-color: $polar-white;
  font-family: Kia Signature Regular;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: $midnight-black-60;
  text-align: center;
  padding: 12px 16px;
  border: 1px solid $city-grey-20;
  &:hover {
      color: $midnight-black-100;
      border: 1px solid $midnight-black-100;
      transition: all 0.4s;
  }
  &.selected {
      color: $polar-white;
      background-color: $midnight-black-100;
      border: 1px solid $midnight-black-100;
  }
  &:disabled {
      color: $city-grey-20;
      background-color: inherit;
      border: 1px solid $city-grey-20;
  }
}

//[mobile buttons] guide
// $phone: "only screen and (max-width : 769px)";
@media #{$phone} {
  .btn-primary,
  .btn-secondary {
      // min-width: 110px;
      font-size: 12px;
      white-space: nowrap;
  }
  .btn-time {
      padding: 12px 8px;
      font-size: 12px;
  }
}

// .btn-primary__white {
//   min-width: 126px;
//   background-color: $polar-white;
//   font-family: Kia Signature Regular;
//   font-size: 12px;
//   line-height: 48px;
//   color: $midnight-black-100;
//   text-align: center;
// }



/////////////////////////////////////////
.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 11;
  h1 {
    font-family: 'Acme', sans-serif;
    font-size:30px;
    color:$polar-white;
    margin: 30px 0 0 20px;
    a:link {
      color:$polar-white;
    }

  }
  &.white-header {
    position: absolute;
    left:0;
    top:0;
  }
  &.fixed {
    position: fixed !important;
    background-color: rgba(0,0,0,0.6);
    height:70px;
    @media #{$phone}{
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
    h1 {
      margin-top: 10px;
    }
    .gnb__list--wrap  {
      padding-top: 5px;
    }
  }
  &.is-active {
    background-color: #fff;
    position: fixed !important;
    @media #{$phone}{
      background-color:$midnight-black-100;
      height: 100%;
      z-index: 20;
      .gnb__list--wrap {
        display: block;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        ul {
          display: block;
          text-align: center;
          width:100%;
        }
      }
    }
    h1 {
      color: $midnight-black-70;
    }
    > .gnbitem > a {
      color: $midnight-black-70;
    }
  }
  .gnb__list--wrap {
    margin-right: 20px;
    padding-top: 15px;
    @media #{$phone}{
      display: none;
    }
  }
  .gnb__list {
    display: flex;
    > li {
        position: relative;
      a {
        position: relative;
        @include fontoption(20px,#fff,normal);
        line-height: 3.3;
        display: block;
        padding:0 20px;
      }
      &.is-active {
        .sub-nav__wrap {
          display: block;
          position: absolute;
          left: 0;
          height: auto;
          top: auto;
          width: 100%;
          border-top: 1px solid $city-grey-25;
          background-color: $midnight-black-60;
          @media #{$phone}{
            position: relative;

          }
          a {
            color:$polar-white;
            @media #{$phone}{
              padding:4px 0;
            }
            &:hover {
              color:$midnight-black-70;
            }
          }
        }
      }
      .sub-nav__wrap{
        padding: 15px 0px;
        ul {
           display: block;
          a {
            @include fontoption(15px,$midnight-black-70,normal);
            padding:5px 20px;
            &:hover {
              background-color: $city-grey-20;
            }
          }
        }
      }
    }
  }
  .sub-nav__wrap {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  @media #{$phone}{
    display: block;
    display: block;
    position: absolute;
    right: 20px;
    top: 45px;
    z-index: 10;
  }
  &.is-active {
    display: block;
    .bar {
      &.top {
        transform: rotate(-45deg);
        top: 11px;
      }
      &.bottom {
       transform: rotate(45deg);
        bottom: auto;
        top: 11px;
      }
    }
  }
 .bar {
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $polar-white;
    &.top {
      top: 7px;
      left: 3px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.bottom {
      bottom: 7px;
      left: 3px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

.key-visual {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  @media #{$phone}{
    height:640px;
  }
  .swiper-slide {
    .slider-img {
      height:1080px;
      @media #{$phone}{
        height: 640px;
        background-size: cover !important;
      }
    }
    img {
      width:100%;
    }
    &.swiper-slide-active{
      .visual-infor__text {
        opacity:1;
        transform:translateX(-50%);
      }
    }
  }
  .visual-infor__text {
    position: absolute;
    text-align: center;
    top: 22vw;
    left:50%;
    width:100%;
    transform: translate(-50%,-50%);
    @include fontoption(48px,#fff,normal);
    z-index: 11;
    opacity:0;
    transform:translateX(30%);
    transition-property:opacity, transform;
    transition-duration:0.8s, 0.6s;
    transition-delay:0.1.5s, 0.1s;
    transition-timing-function:ease-in-out;
    @media #{$phone}{
      font-size:20px;
      top:50%;
    }
  }
}

.sub-key-visual {
  text-align: center;
  height:120px;
  @include fontoption(30px,$midnight-black-70,normal);
  line-height: 120px;
  border: 1px solid $midnight-black-6;
  @media #{$phone}{
    font-size:20px;
  }
}

.slider-continer {
  &.fixed{
    position: fixed;
    width:100%;
    left:0;
    top:0;
  }
}

.js-side {
  position: absolute;
  width:200px;
  left:0;
  top:220px;
  padding-top: 50px;
  background-color: #fff;
  border-right: 1px solid $midnight-black-6;
  height:auto;
  @media #{$phone}{
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    border-right: 0;
    border-bottom: 1px solid $midnight-black-70;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
    ul {
      display: flex;
      white-space: nowrap;

    }
  }
  li {
    &.is-active {
      a {
        font-weight: bold;
      }
    }
    @media #{$phone}{
      padding:0 20px;
    }
    a {
      padding:16px 0 16px 20px;
      @include fontoption(18px,$midnight-black-70,normal);
      @media #{$phone}{
        white-space: nowrap;
        display: block;
        font-size: 13px;
        padding: 15px 0;
      }
    }
  }
}
.contents {
  &.js-cont {
    padding-left: 220px;
    @media #{$phone}{
      padding:10px;
      max-width: 100%;
      overflow-x: hidden;
    }
  }
}

xmp {
  @media #{$phone}{
    max-width: 100%;
    display: block;
    overflow-y: scroll;
  }
}

.content__section {
  width:100%;
  background-color: #fff;
  padding: 120px 0 0;

  &.contact {
    padding: 120px 60px;
    text-align: left;
    @media #{$phone}{
      padding: 60px 20px;
    }
    .section__tit {
      @include fontoption(68px,$midnight-black-100,bold);
      text-align: left;
      line-height: 2.2;
    }
    .context__wrap {
      @include fontoption(38px,$midnight-black-100,normal);
      text-align: left;
      line-height: 2.0;
      @media #{$phone}{
        font-size: 22px;
      }
    }
  }

  @media #{$notebook}{
      padding:90px 0 0;
  }
}

.footer {
  background-color: $footer-back;
  padding:50px 20px;
  @include fontoption(15px,$footer-txt,normal);
}

.swiper-pagination {
  bottom:0px;
  .swiper-pagination-bullet  {
    border-radius: 0;
  }
  button{
      width:5px;
      height:5px;
      background: $city-grey-50;
      border-radius: 16px;
      transition:all 0.3s;
      &.swiper-pagination-bullet-active {
        background: $polar-white;
        width:60px;
      }
  }
  .swiper-pagination-bullet-active:after{
      height:4px;
  }
  @media #{$tablet}{
   //    bottom:64px;
       button{
           &:after{
               display:none;
           }
           &.swiper-pagination-bullet-active{
               width: 48px;
               height:5px;
               border-radius: 9px;
               transition:all 0.3s;
               &:after{
                   display:none;
               }
           }
       }
   }
}

.section__tit {
  text-align: center;
  h2{
      @include fontoption(48px,#05141f,bold);
      line-height: 1.25;
      &.s-tit__top {
        font-size:36px;
        @media #{$phone}{
          font-size:24px;
        }
      }
      @media #{$tablet}{
          font-size: 28px;
          line-height: 1.36;
      }
  }
  h3 {
    @include fontoption(48px,#05141f,bold);
    line-height: 1.25;
  }
  .description-top {
    margin-top: 30px;
    @include fontoption(18px,#05141f,normal);
    line-height: 1.67;
    margin-bottom: 16px;
    @media #{$phone}{
      font-size:16px;
      margin-bottom: 8px;
    }
  }
  &.center-type {
      text-align: center;
  }

  .tit__description {
      margin-top: 24px;
      @include fontoption(18px,#697278,normal);
      line-height: 1.67;
      letter-spacing: normal;
  }
}

.full-image__wrap {
  position: relative;
  .teaser-text {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 50px;
  }
  img {
    width:100%;
  }
}

.biz__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media #{$phone}{
    flex-wrap: wrap;
  }
  li {
    border: 1px solid $midnight-black-60;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:0 20px;
    width:150px;
    height:150px;
    text-align: center;
    @include fontoption(18px,#697278,bold);
    line-height: 150px;
  }
  @media #{$phone}{
    li + li {
      margin-bottom: 20px;
    }
  }
}

.notice-list-dot {
    margin-top: 40px;
    li {
        position: relative;
        margin-bottom:8px;
        padding-left:10px;
        @include fontoption(14px,#697278,normal);
        text-align: left;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left:0;
            top:8px;
            width: 4px;
            height:4px;
            border-radius: 50%;
            background: #697278;
        }
    }
    @media #{$phone} {
        margin-top: 24px;
        li {
            font-size: 12px;
            line-height:1.83;
            &::before {
                width: 2px;
                height:2px;
            }
        }
    }
  }
  .notice-list-dot.type-none {
    li {
        padding-left: 0;
        &::before {
            display: none;
        }
    }
  }



  .pc-only {
    display: block;
    @media #{$tablet} {
        display: none;
    }
  }
  .mo-only {
    display: none;
    @media #{$tablet}{
        display: block;
    }
  }

  /// css
/* image box */
.cmp-image-wrap{
  position: relative;
  width:100%;
  max-width: 1340px;
  margin: 0 auto;
  @media #{$tablet}{
      img{
          width:100%;
      }
  }
  &.full-bg {
      max-width: 100%;
  }
  .btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block;
      width: 74px;
      height: 74px;
      //background: url(/content/dam/kwp/descriptive/ic_play.svg) no-repeat center center;
      z-index: 10;
      &.is-pause {
          //background: url(/content/dam/kwp/functional/icon_pausebutton.png) no-repeat center center;
          opacity: 0;
          transition: all 0.2s;
      }
  }
  &.is-video {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      &:hover {
          .is-pause {
              transition: all 0.3s;
              opacity: 1;
          }
      }
      video {
          position: absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
      }
  }
  .btn-play-youtube {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 10;
      img {
          width:100%;
      }
      .btn-play-icon {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          //background: url(/content/dam/kwp/descriptive/ic_play.svg) no-repeat center center;
          z-index: 10;
          transition: all 0.3s;
      }
      &.is-pause {
          transition: all 0.3s;
          .btn-play-icon {
              //background: url(/content/dam/kwp/functional/icon_pausebutton.png) no-repeat center center;
              opacity: 0;
          }
          img {
              display: none;
          }
      }
  }
  &.is-youtube {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      &:hover {
          .is-pause {
              .btn-play-icon {
                  transition: all 0.3s;
                  opacity: 1;
              }
          }
      }
  }
  img {
      max-width: 100%;
  }
  .bg__video {
      width:100%;
      height:100%;
      object-fit: cover;
  }
  iframe {
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
  }
}
.video-script__section--bottom {
  margin-top: 48px;
  .btn-script-view {
      text-align: right;
      button {
          @include fontoption(14px,$midnight-black-100,bold);
          padding-right: 4px;
          &::after{
              content: '';
              display: inline-block;
              margin-left: 3px;
              width:16px;
              height:16px;
              //background: url('/content/dam/kwp/descriptive/ic_arow_donw_g.svg') no-repeat center 0px;
              transition: all 0.3s;
          }
          &.is-active {
              &::after{
                  //ackground: url('/content/dam/kwp/descriptive/ic_arow_donw_g.svg') no-repeat center -8px;
                  transform: rotate(-180deg);
              }
          }
      }
  }
  .video-script__wrap--inbox {
      display: none;
      margin-top: 24px;
      padding:32px;
      background-color: $midnight-black-3;
      @include fontoption(16px,#4f5a61,normal);
      &.is-active {
          display: block;
      }
      .script__wrap--cont {
          overflow-y: scroll;
          overflow-x: hidden;
          line-height: 1.75;
          height:224px;
      }
  }
}

.aem-title__section {
  width:100%;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
  &.gray-bg {
    background-color: $midnight-black-3;
    padding: 120px 0 80px;
    margin:0;
  }
  &.size-middle {
    h3,
    h4 {
      font-size: 36px
    }
  }
  &.size-small {
    padding-bottom: 20px;
    h3,
    h4 {
      font-size: 24px;
    }
  }
  h3,
  h4 {
    @include fontoption(48px,$midnight-black-100,bold);
    line-height: 1.25;
    word-break: keep-all;
    @media #{$tablet}{
      font-size: 28px;
      line-height: 1.36;
    }
  }
  &.type-left {
    text-align: left;
    @media #{$phone}{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &.first-section {
    padding: 120px 0 0;
  }
  &.last-section {
    padding: 60px 0 120px;
  }
  .label {
    display: inline-block;
    padding:0 20px;
    height: 40px;
    @include fontoption(18px,$polar-white,bold);
    border-radius: 20px;
    background-color: $midnight-black-70;
    line-height: 40px;
    margin: 0 auto 16px;
    @media #{$phone}{
      height: 32px;
      padding: 8px 15px 7px;
      font-size: 14px;
      line-height:1.3;
    }
  }
  .subtitle__top {
    @include fontoption(18px,$midnight-black-100,bold);
    line-height: 1.67;
    margin-bottom: 16px;
    @media #{$phone}{
      font-size:16px;
      margin-bottom: 8px;
    }
  }
  .description__bottom {
    margin-top: 24px;
    @include fontoption(18px,$midnight-black-60,normal);
    line-height: 1.67;
    letter-spacing: normal;
    padding:0 100px;
    @media #{$phone}{
      font-size: 14px;
      line-height: 1.71;
      padding:0 10%;
    }
  }
  .link__button--bottom {
    margin-top: 24px;
    .btn-type-text {
      font-size: 18px;
      padding-right: 24px;
      //background: url(/content/dam/kwp/functional/icon_Chevron-Right.svg) no-repeat right center / 24px;
    }
  }
  &.grid-max {
    max-width:$grid-max;
    margin-left: auto;
    margin-right: auto;
    @media #{$phone}{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
//page title
.aem-content__section {
  width:100%;
  padding: 60px 0;
  margin: 0 auto;
  &.responr-wd {
    max-width: 1340px;
    margin: 0 auto;
    @media #{$phone}{
      margin:0 16px;
    }
  }
  @media #{$notebook}{
      padding:90px 0 0;
  }
  @media #{$tablet}{
      padding:64px 0 0;
  }
    &.gray-bg {
      background-color: $midnight-black-3;
      padding:0px 0 120px;
    }
    &.first-section {
      padding:120px 0 60px;
    }
    &.last-section {
      padding:60px 0 120px;
    }
    &.border-line {
      border-top: 1px solid $city-grey-20;
    }
    .content__section--title {
      text-align: center;
      padding-bottom:80px;
      h4 {
        @include fontoption(48px,$midnight-black-100,bold);
        line-height: 1.25;
        word-break: keep-all;
        padding:0 150px;
        @media #{$tablet}{
            font-size:35px;
            padding:0 10%;
        }
      }
      p {
        margin-top:24px;
        @include fontoption(18px,$midnight-black-60,normal);
        line-height: 1.67;
        word-break: keep-all;
        padding:0 50px;
        strong{
          @include fontoption(18px,$midnight-black-100,bold);
          @media #{$tablet}{
            @include fontoption(16px,$midnight-black-100,bold);
          }
        }
        @media #{$tablet}{
            font-size:16px;
            padding:0 24px;
        }
        @media #{$phone}{
          margin-top: 16px;
          font-size: 14px;
          line-height: 1.71;
          padding:0 16px;
          br.mo-only{
              display:block;
          }
          br.pc-only{
              display:none;
          }
        }
      }
      img{
        @media #{$tablet} {
            display:block;
            width:100%;
        }
      }
      &.type-left{
        position: relative;
        text-align: left;
        padding-bottom:32px;
        h4 {padding:0 24px;}
        p {
          padding:0 24px;
        }
        p.type-right {
          position: absolute;
          right:0;
          top: -12px;
          margin-bottom: 8px;
          padding-left: 10px;
          @include fontoption(14px,$midnight-black-60,normal);
          text-align: left;
          &::before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 4px;
              height: 4px;
              margin-right: 6px;
              border-radius: 50%;
              background:$midnight-black-60;
          }
          @media #{$tablet} {
              position:inherit;
          }
        }
      }
      &.size-medium {
        h4,
        h3 {
          font-size: 36px
        }
      }
      &.size-small {
        h4,
        h3 {
          font-size: 24px;
        }
      }
    }
  .content__section--body {
    @media #{$phone}{
      //margin-top: 24px;
    }
  }
}
.content__section--body + .content__section--title {
  margin-top:100px;
}

/* Disclaimer */
.disclaimer-list__wrap{
  margin-top: 40px;
  @media #{$phone}{
      margin-top: 24px;
  }
  strong {
      display: block;
      @include fontoption(18px,$midnight-black-100,bold);
      line-height: 1.86;
      & + ul {
          margin-top:16px;
      }
      @media #{$phone}{
          font-size: 14px;
          line-height: 1.83;
          margin-bottom: 16px;
      }
    }
    li {
      @include listtype(16px,10px);
      font-size: 14px;
      line-height: 1.63;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
    a[target = _blank] {
      padding-right: 18px;
      //background: url(/content/dam/kwp/functional/icon_arro_link.svg) no-repeat right center;
    }
    p {
      position: relative;
      margin-top: 16px;
      @include fontoption(14px,$midnight-black-60,normal);
      line-height: 1.86;
      @media #{$phone}{
          font-size: 12px;
      }
    }
}
/* Contentsbox */
.cmp-contentsbox__wrap {
  &.has-images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $midnight-black-3;
      @media #{$phone}{
          display: block;
      }
      .thum-img__wrap {
          width: 50%;
          padding:70px;
          text-align: center;
          align-items: center;
          display: flex;
          img {
              max-width: 100%;
              margin: 0 auto;
          }
          @media #{$notebook}{
              width: 40%;
              padding:50px;
          }
          @media #{$tablet}{
              width: 30%;
              padding:30px;
          }
          @media #{$phone}{
              width: 100%;
              padding:30px;
          }
      }
      .cpm-contentsbox__innerbox {
          width: 50%;
          padding: 70px;
          @media #{$notebook}{
              width: 70%;
              padding:50px;
          }
          @media #{$tablet}{
              width: 70%;
              padding:30px;
          }
          @media #{$phone}{
              width: 100%;
              padding:30px;
          }
      }
  }
  &.type-cols2 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .cpm-contentsbox__innerbox {
          width:calc(50% - 12px);
      }
  }
  .cpm-contentsbox__innerbox {
      background-color: $midnight-black-3;
      background-image: none !important;
      padding:46px;
      @media #{$tablet} {
          padding: 24px;
      }
      @media #{$phone} {
          padding: 24px 16px;
      }
      &.type-tag {
        margin: 20px 0;
        padding:10px 20px;
        font-size: 13px;
        color: $midnight-black-100;
      }
  }
  .cpm-contentsbox__innerbox + .cpm-contentsbox__innerbox {
      margin-top:24px;
  }
  .cpm-contentsbox__innerbox:nth-child(2){
      margin-top:0;
  }

  h5 {

      @include fontoption(18px,$midnight-black-100,bold);
      line-height: 1.67;
      @media #{$phone} {
          @include fontoption(14px,$midnight-black-100,bold);
      }
  }
  p {
      margin-top: 16px;
      @include fontoption(16px,$midnight-black-60,normal);
      line-height: 1.75;
      word-break: break-all;
      @media #{$tablet}{
          font-size:14px;
          word-break: break-all;
      }
      @media #{$phone} {
          @include fontoption(12px,$midnight-black-60,normal);
      }
  }
  p + h5 {
      margin-top: 48px;
  }
  div + h5 {
    margin-top: 48px;
  }
}
.cmp-contentsbox__richtext-wrap{
  &.border{
      border: 1px solid #dadbdc;
      padding:40px;
      @media #{$phone}{
          padding:24px;
      }
  }
  h5 {
      @include fontoption(24px,$midnight-black-100,bold);
      line-height: 1.5;
      @media #{$phone}{
          font-size:16px;
      }
  }
  .infor-text {
      margin-top: 24px;
      @include fontoption(18px,$midnight-black-100,normal);
      line-height: 1.67;
      strong{
          text-decoration: underline;
      }
      @media #{$phone}{
          margin-top:16px;
          font-size:16px;
          line-height: 1.63;
      }
      &.center{
          text-align:center;
      }
  }
  &.list-type{
      .num {
          margin-top: 48px;
          text-indent: -16px;
          padding-left:16px;
          @include fontoption(18px,$midnight-black-100,normal);
          line-height: 1.67;
          @media #{$phone}{
              font-size: 16px;
              margin-top:40px;
          }
          div {
              margin-left: 17px;
          }
          &:first-child {
              margin-top: 0;
          }
          &:nth-child(4) {
              margin-top: 20px;
              @media #{$phone}{
                  margin-top:40px;
              }
          }
          .red {
              color:#ea0029;
          }
          .underline{
              text-decoration: underline;
          }
      }
      .sub {
          margin: 16px 0 0 16px;
          @include fontoption(16px,$midnight-black-60,normal);
          line-height: 1.75;
          @media #{$phone}{
              font-size: 14px;
              line-height: 1.71;
          }
      }
      .infor-list-number {
          margin: 16px;
          li {
              @include fontoption(16px,$midnight-black-60,normal);
              line-height: 1.75;
              text-indent: -18px;
              padding-left:18px;
              @media #{$phone}{
                  font-size: 14px;
                  line-height: 1.71;
              }
              div {
                  margin-left: 17px;
              }
          }
      }

  }
}

/* compornent_table */
.cmp-table__wrap {
  width:100%;
  a {
      color: inherit;
      text-decoration: underline;
  }
  a[target = _blank] {
      padding-right: 18px;
      //background: url(/content/dam/kwp/functional/icon_arro_link.svg) no-repeat right center;
  }
  &.fixed-scroll {
      @media #{$phone}{
          overflow: hidden;
          overflow-x: scroll;
          table {
              table-layout: fixed;
              width:auto;
          }
      }
  }
  &.no-line {
      th {
          background-color: #fff;
          border:0;
          text-align: left;
      }
      td {
          border:0;
          text-align: left;
      }
  }
  &.whith-bg {
      table {
          margin-bottom: 0px;
          width: 100%;
          border-top: 1px solid;
          border-color: rgb(105, 114, 120) !important;
          tbody th{
              background-color: #fff;
              text-align: left;
              color: $midnight-black-60;
              padding-left: 0;
              border-right: 0;
          }
          tbody td {
              text-align: left;
              border-left: 0;
          }
      }
      @media #{$phone}{
          // margin-top: 24px;
      }
  }
  &.type-left {
      th,
      td {
          text-align: left;
      }
  }
  &.body-only {
      table {
          border-top: 1px solid #05141f !important;
      }
      thead {
          display: none;
      }
      &.th-bold {
          tbody th {
              font-weight: bold;
          }
      }
  }
  &.type-column {
      @media #{$phone} {
          table {
              display: block;
              tbody {
                  display: block;
                  clear: both;
                  width: 100%;
                  tr {
                      display: block;
                      clear: both;
                      width: 100%;
                      th {
                          display: flex;
                          width: 100%;
                          padding: 16px 24px 5px;
                          border-right: none;
                          border-bottom:0;
                          font-weight: bold;
                          background-color: #fff;
                          flex-direction: column;
                      }
                      td {
                          display: block;
                          width: 100%;
                          padding: 5px 24px 16px;
                          border-left: none;
                          p + p {
                              margin-top: 10px;
                          }
                      }
                  }
              }
          }
      }
  }
  table {
      border-spacing: 0px;
      width:100%;
      table-layout: auto;
      border-collapse:collapse;
      margin: 0;
      caption {
          overflow: hidden;
          position: absolute;
          width: 1px;
          height: 1px;
          clip: rect(1px, 1px, 1px, 1px);
      }
      thead tr th {
          background-color: #05141f;
          vertical-align: middle;
          text-align: center;
          border-left: 1px solid #697278;
          border-bottom: 1px solid #697278;
          @include fontoption(16px,#fff,bold);
          line-height: 1.75;
          padding: 16px 24px;
          @media #{$phone}{
              font-size: 14px;
              line-height: 1.43;
          }
          &:first-child {
            border-left: 0;
            border-right: 1px solid #697278;
          }
      }
      tbody tr td {
          vertical-align: middle;
          text-align: center;
          border-left: 1px solid #dadbdc;
          border-bottom: 1px solid #dadbdc;
          word-break: keep-all;
          @include fontoption(16px,#697278,normal);
          padding: 16px 24px;
          @media #{$phone}{
              font-size: 14px;
              line-height: 1.43;
          }
          &:first-child {
            border-left: 0;
          }
          ul{
              li {
                  @include listtype(10px,10px);
                  line-height: 1.43;
                  text-align: left;
                  a:link {
                    color: $midnight-black-60;
                  }
              }
          }
      }
      tbody tr th {
          background-color: #f8f8f8;
          vertical-align: middle;
          text-align: center;
          @include fontoption(16px,#05141f,normal);
          border-bottom: 1px solid #dadbdc;
          border-right: 1px solid #dadbdc;
          word-break: keep-all;
          padding: 16px 24px;
          @media #{$phone}{
              font-size: 14px;
              line-height: 1.43;
          }
          &:first-child {
            border-left: 0;
          }
      }
  }
}



/* 메인 인트로 화면 */
.main-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
    .today-weather__wrap {
      width:100%;
      max-width:600px;
      background-color: rgba(0, 0, 0, 0.7);
      margin: 0 auto 50px;
      padding:30px;
      box-shadow: rgba(0, 255, 255, 0.5);
      border-radius: 15px;
      color:#fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media #{$phone}{
        max-width: 90%;
      }
      .citis-tit {
        font-size: 45px;
        @media #{$phone}{
          font-size: 35px;
        }
      }
      .wheather-info {
        margin-top:10px;
        .data {
          font-size:20px;
          text-align: center;
          @media #{$phone}{
            font-size: 16px;
          }
        }
      }
      .wheather-info1 {
        margin-top:8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .temperatureText {
          font-size:30px;
          text-align: center;
        }
      }
      .temperatureIcon {
        text-align: center;
      }
      .temperature {
        font-size:50px;
        padding:10px 0;
        @media #{$phone}{
          font-size: 35px;
        }
      }
    }
    .whear-infor2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size:20px;
      @media #{$phone}{
        font-size: 16px;
      }
      > div {
        margin:0 20px;
      }
    }
}
.btn-area__wrap--middle {
  margin:20px 0;
}
.btn-default {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border:1px solid $polar-white;
  color:$polar-white;
  font-size:16px;
  padding:10px 20px;
}

//행운카드 보기
.card-option__wrap {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left:0;
  top:0;
  width:100%;
  height:100%;
  &.is-active {
    display: block;
  }
}
.welcom-card__wrap {
  position:relative;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width:100%;
  max-width:950px;
  margin:150px auto;

  .card__item--wrap {
    position:relative;
    width:100%;
    height:450px;
    perspective: 300px;
    .card-item {
      width:100%;
      height:100%;
      text-align:center;
      border:1px solid #ccc;
      backface-visibility: hidden;
      transition: 1s;
      color:#fff;
      font-size:18px;
      cursor:pointer;
      .card-item__innerbox {
        position:relative;
        height:100%;
        width:100%;
        span {
          position:absolute;
          left:50%;
          top:50%;
          transform: translate(-50%, -50%);
          strong {
            font-size:26px;
          }
        }
      }
      &.front {
      position:absolute;
      left:0;
      top:0;
      transform: rotateY(0deg);
        &.one-card {
          background:#7543e2;
        }
        &.two-card {
          background:#e27543;
        }
        &.theree-card {
          background:#43e275;
        }
    }
      &.backface {
        position:absolute;
        left:0;
        top:0;
        background:#1d1138;
        transform: rotateY(-180deg);
      }
    }
    &.is-active {
      .front {
        transform: rotateY(180deg);
      }
      .backface {
        transform: rotateY(0deg);
      }
    }
  }
  &.is-end {
    .front {
      opacity:0.5;
      cursor:default;
    }
  }
}

.modal-popup {
  position:fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background:#fff;
  border:1px solid #ccc;
  width: 350px;
  padding: 20px 0px;
  display:none;
  &.is-open {
    display:block;
  }
  .text {
    text-align:center;
    font-size:16px;
    padding:20px;
    color:#000;
    line-height:1.6;
  }
  .button-wrap {
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    padding:20px;
    .btn-list {
      flex:auto;
      text-decoration:none;
      border:1px solid #ccc;
      padding:10px 15px;
      font-size:15px;
      color:#000;
    }
  }
}

// 레이아웃
.content__wrap {
  display: flex;
  justify-content: space-between;
  width:100%;
  .side-nav {
    width: 100%;
    max-width:350px;
    flex:1;
    padding: 50px 40px;
    background-color: #333;
    color: #9b9b9b;
    .side-logo {
      padding-bottom:20px;
      font-size:20px;
      color:#fff;
      border-bottom: 1px solid #5e5e5e;
    }
    h2 {
      font-size:18px;
      padding:10px 0 0;
    }
    ul {
      padding:10px 0 20px;
      border-bottom: 1px solid #5e5e5e;
    }
    li {
      padding:4px 0;
      a {
        color: #969696;
        font-size:13px;
      }
      &.is-active {
        a,
        a[target=_blank] {
          color: #ebebeb;
        }
      }
    }
  }
  .content__wrap--section {
    width:calc(100% - 350px);
    @media #{$phone}{
      width:100%;
    }
    .blog-wrap {
      display: block;
      width:100%;
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      min-height: 600px;
      padding:80px 0;
      h2 {
        font-size: 28px;
      }
    }
  }
}
.blog-wrap__section {
  margin-top: 50px;
}