@import "./scss/reset.scss";
@import "./scss/mixin.scss";
@import "./scss/scroll.scss";

#accessibility a{overflow:hidden;display:block;position:absolute;top:0;left:0;z-index:100;width:1px;height:1px;background:#000;color:#fff;text-align:center}
#accessibility a:focus,.skip a:active{position:relative;width:100%;height:auto;padding:10px}


// 공통 css
body{
  &.is-active {
    // &::after {
    //   content: '';
    //   display: block;
    //   width:100%;
    //   height:100%;
    //   position: fixed;
    //   left:0;
    //   top:0;
    //   background-color: rgba(5,20,31,0.8);
    //   z-index: 10;
    //   @media #{$tablet}{
    //     display: none;
    //   }
    // }
    @media #{$tablet}{
      overflow: auto;
      height:100%;
      overflow: hidden;
    }
  }
}


.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 11;
  h1 {
    font-family: 'Acme', sans-serif;
    font-size:30px;
    color:$polar-white;
    margin: 30px 0 0 20px;
    a:link {
      color:$polar-white;
    }

  }
  &.white-header {
    position: absolute;
    left:0;
    top:0;
  }
  &.fixed {
    position: fixed !important;
    background-color: rgba(0,0,0,0.6);
    height:70px;
    @media #{$phone}{
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
    h1 {
      margin-top: 10px;
    }
    .gnb__list--wrap  {
      padding-top: 5px;
    }
  }
  &.is-active {
    background-color: #fff;
    position: fixed !important;
    @media #{$phone}{
      background-color:$midnight-black-100;
      height: 100%;
      z-index: 20;
      .gnb__list--wrap {
        display: block;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        ul {
          display: block;
          text-align: center;
          width:100%;
        }
      }
    }
    h1 {
      color: $midnight-black-70;
    }
    > .gnbitem > a {
      color: $midnight-black-70;
    }
  }
  .gnb__list--wrap {
    margin-right: 20px;
    padding-top: 15px;
    @media #{$phone}{
      display: none;
    }
  }
  .gnb__list {
    display: flex;
    > li {
        position: relative;
      a {
        position: relative;
        @include fontoption(20px,#fff,normal);
        line-height: 3.3;
        display: block;
        padding:0 20px;
      }
      &.is-active {
        .sub-nav__wrap {
          display: block;
          position: absolute;
          left: 0;
          height: auto;
          top: auto;
          width: 100%;
          border-top: 1px solid $city-grey-25;
          background-color: $midnight-black-60;
          @media #{$phone}{
            position: relative;

          }
          a {
            color:$polar-white;
            @media #{$phone}{
              padding:4px 0;
            }
            &:hover {
              color:$midnight-black-70;
            }
          }
        }
      }
      .sub-nav__wrap{
        padding: 15px 0px;
        ul {
           display: block;
          a {
            @include fontoption(15px,$midnight-black-70,normal);
            padding:5px 20px;
            &:hover {
              background-color: $city-grey-20;
            }
          }
        }
      }
    }
  }
  .sub-nav__wrap {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  @media #{$phone}{
    display: block;
    display: block;
    position: absolute;
    right: 20px;
    top: 45px;
    z-index: 10;
  }
  &.is-active {
    display: block;
    .bar {
      &.top {
        transform: rotate(-45deg);
        top: 11px;
      }
      &.bottom {
       transform: rotate(45deg);
        bottom: auto;
        top: 11px;
      }
    }
  }
 .bar {
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $polar-white;
    &.top {
      top: 7px;
      left: 3px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.bottom {
      bottom: 7px;
      left: 3px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

.key-visual {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  @media #{$phone}{
    height:640px;
  }
  .swiper-slide {
    .slider-img {
      height:1080px;
      @media #{$phone}{
        height: 640px;
        background-size: cover !important;
      }
    }
    img {
      width:100%;
    }
    &.swiper-slide-active{
      .visual-infor__text {
        opacity:1;
        transform:translateX(-50%);
      }
    }
  }
  .visual-infor__text {
    position: absolute;
    text-align: center;
    top: 22vw;
    left:50%;
    transform: translate(-50%,-50%);
    @include fontoption(48px,#fff,normal);
    z-index: 11;
    opacity:0;
    transform:translateX(30%);
    transition-property:opacity, transform;
    transition-duration:0.8s, 0.6s;
    transition-delay:0.1.5s, 0.1s;
    transition-timing-function:ease-in-out;
    @media #{$phone}{
      font-size:16px;
    }
  }
}

.slider-continer {
  &.fixed{
    position: fixed;
    width:100%;
    left:0;
    top:0;
  }
}

.content__section {
  width:100%;
  background-color: #fff;
  padding: 120px 0 0;
  &.contact {
    padding: 120px 60px;
    text-align: left;
    @media #{$phone}{
      padding: 60px 20px;
    }
    .section__tit {
      @include fontoption(68px,$midnight-black-100,bold);
      text-align: left;
      line-height: 2.2;
    }
    .context__wrap {
      @include fontoption(38px,$midnight-black-100,normal);
      text-align: left;
      line-height: 2.0;
    }
  }

  @media #{$notebook}{
      padding:90px 0 0;
  }
}

.footer {
  background-color: $footer-back;
  padding:50px 20px;
  @include fontoption(15px,$footer-txt,normal);
}

.swiper-pagination {
  bottom:0px;
  .swiper-pagination-bullet  {
    border-radius: 0;
  }
  button{
      width:5px;
      height:5px;
      background: $city-grey-50;
      border-radius: 16px;
      transition:all 0.3s;
      &.swiper-pagination-bullet-active {
        background: $polar-white;
        width:60px;
      }
  }
  .swiper-pagination-bullet-active:after{
      height:4px;
  }
  @media #{$tablet}{
   //    bottom:64px;
       button{
           &:after{
               display:none;
           }
           &.swiper-pagination-bullet-active{
               width: 48px;
               height:5px;
               border-radius: 9px;
               transition:all 0.3s;
               &:after{
                   display:none;
               }
           }
       }
   }
}

.section__tit {
  text-align: center;
  h2{
      @include fontoption(48px,#05141f,bold);
      line-height: 1.25;
      &.s-tit__top {
        font-size:36px;
        @media #{$phone}{
          font-size:24px;
        }
      }
      @media #{$tablet}{
          font-size: 28px;
          line-height: 1.36;
      }
  }
  h3 {
    @include fontoption(48px,#05141f,bold);
    line-height: 1.25;
  }
  .description-top {
    margin-top: 30px;
    @include fontoption(18px,#05141f,normal);
    line-height: 1.67;
    margin-bottom: 16px;
    @media #{$phone}{
      font-size:16px;
      margin-bottom: 8px;
    }
  }
  &.center-type {
      text-align: center;
  }

  .tit__description {
      margin-top: 24px;
      @include fontoption(18px,#697278,normal);
      line-height: 1.67;
      letter-spacing: normal;
  }
}

.full-image__wrap {
  position: relative;
  .teaser-text {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 50px;
  }
  img {
    width:100%;
  }
}

.biz__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  li {
    border: 1px solid $midnight-black-60;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:0 20px;
    width:150px;
    height:150px;
    text-align: center;
    @include fontoption(18px,#697278,bold);
    line-height: 150px;
  }
}

.notice-list-dot {
    margin-top: 40px;
    li {
        position: relative;
        margin-bottom:8px;
        padding-left:10px;
        @include fontoption(14px,#697278,normal);
        text-align: left;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left:0;
            top:8px;
            width: 4px;
            height:4px;
            border-radius: 50%;
            background: #697278;
        }
    }
    @media #{$phone} {
        margin-top: 24px;
        li {
            font-size: 12px;
            line-height:1.83;
            &::before {
                width: 2px;
                height:2px;
            }
        }
    }
  }
  .notice-list-dot.type-none {
    li {
        padding-left: 0;
        &::before {
            display: none;
        }
    }
  }



  .pc-only {
    display: block;
    @media #{$tablet} {
        display: none;
    }
  }
  .mo-only {
    display: none;
    @media #{$tablet}{
        display: block;
    }
  }

  /// css