@import "./reset.scss";
@import "./mixin.scss";
@import "./scroll.scss";

body {
  background-color: #000;
  color: #fff;
}
.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:40px;
  
  }
  &.white-header {
    @include positioninfo(absolute,block,100%,0,0);
  }
  .gnb__list--wrap {    
    
  }
  .gnb__list {
    display: flex;   
    li {
      a {
        position: relative;
        @include fontoption(20px,#05141f,normal);
        line-height: 3.3;    
        display: block;
        padding:0 20px;
      }
    } 
  }
  .sub-nav__wrap {
    display: none;
  }
}