//반응형
$phone: "only screen and (max-width : 769px)";
$phone480: "only screen and (max-width : 480px)";
$phone360: "only screen and (max-width : 360px)";
$phonemini: "only screen and (max-width : 320px)";
$notebook: "screen and (max-width : 1366px)";
$tablet: "screen and (max-width : 1024px)";
$desktop: "screen and (min-width : 769px)";
$desktop1025: "screen and (min-width : 1025px)";
$desktop1366: "screen and (min-width : 1366px)";
$tablet960: "screen and (max-width : 960px)";
$tablet920: "screen and (max-width : 920px)";
//반응형 *--
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

$font-family:'Noto Sans KR', sans-serif;
@mixin fontoption($font-tsize, $font-color, $font-weight) {
    font-family: $font-family;
    font-size: $font-tsize;
    color: $font-color;
    font-weight: $font-weight;
    line-height: 1.43;
    letter-spacing: normal;
}

@mixin positioninfo($pos,$type,$wd,$lpoint,$tpoint) {
    position: $pos;
    display:$type;
    width:$wd;
    left:$lpoint;
    top:$tpoint;
}

@mixin listtype($mgb,$pdl) {
    position: relative;
    @include fontoption(14px,$midnight-black-60,normal);
    margin-bottom: $mgb;
    padding-left: $pdl;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #697278;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media #{$tablet} {
        @include fontoption(12px,$midnight-black-60,normal);
        line-height: 1.83;
        &::before {
            width:2px;
            height:2px;
            top:8px;
        }
    }
  }